.topbalk {
  background-color: rgb(135, 206, 235);
  font-family: 'Exo 2', sans-serif;
  background-image: url(../../assets/header.jpg);
  background-size: cover;
}

.logo {
  margin: auto;
}

.zeilschool {
  margin-left: 50px;
}

.login {
  margin: auto;
}


.menu {
  float: left;
  width: 20%;
  background-color: aliceblue;
  height:150%;
}

li {
  list-style: none;
}

.nav {
  width: 120%;
  font-family: 'Exo 2', sans-serif;
  font-size: 14pt;
  margin-left: -40px;
}
