<div class="topbalk">
  <!-- Logo -->

  <div class="logo">
    <a href=""><img height="150" src="../../assets/logo.png" alt="Zeilschool De Waai" /></a>
  </div>

</div>
<div class="menu" kendoRippleContainer>
  <ul>
    <li>
      <a href="" class="nav k-button k-bare">Home</a>
    </li>
    <li class="nav k-button k-bare" href="">
      Cursussen
    </li>
    <li class="nav k-button k-bare" href="">
      Galerij
    </li>
    <li>
      <a [routerLink]="['/inloggen']" class="nav k-button k-bare">Inloggen Medewerker</a>
    </li>
    <li href="" class="nav k-button k-bare">
      Inloggen Cursist
    </li>
    <li>
      <a class="nav k-button k-bare" [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
</div>
