.topbalk {
  background-color: lightblue;
  font-family: 'Exo 2', sans-serif;
}

.logo {
  margin:auto;
}

.zeilschool {
  margin-left: 50px;
}

.login {
  margin: auto;
}

.loginbtn {
  padding: 6px 40px;
  font-family: 'Exo 2', sans-serif;
  font-size: 12pt;
}
